@font-face {
  font-family: centrale_sans_book;
  src: url(https://www.crsc.lighting.philips.com/crsc/fonts/8b2873842d2d1d0ee98baefbf2d75866.eot);
  src: url(https://www.crsc.lighting.philips.com/crsc/fonts/8b2873842d2d1d0ee98baefbf2d75866.eot?#iefix) format('embedded-opentype'), url(https://www.crsc.lighting.philips.com/crsc/fonts/1ae70358e14e05c50950a65b9f8dab75.woff2) format('woff2'), url(https://www.crsc.lighting.philips.com/crsc/fonts/9d173bc26048bc7d2f543a2db3135425.woff) format('woff'), url(https://www.crsc.lighting.philips.com/crsc/fonts/579edecc0e881521968d73c7d2afa1e9.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: centrale_sans_xbold;
  src: url(https://www.crsc.lighting.philips.com/crsc/fonts/aaeb2dab2102d3fe5cbb1289a292393d.eot);
  src: url(https://www.crsc.lighting.philips.com/crsc/fonts/aaeb2dab2102d3fe5cbb1289a292393d.eot?#iefix) format('embedded-opentype'), url(https://www.crsc.lighting.philips.com/crsc/fonts/0c7658f73f4bf3704f3065c48971bc65.woff2) format('woff2'), url(https://www.crsc.lighting.philips.com/crsc/fonts/da154671bd103d51954378c06bb9cc60.woff) format('woff'), url(https://www.crsc.lighting.philips.com/crsc/fonts/045d5196b80403deeb6d608f52a2d753.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: centrale_sans_bold;
  src: url(https://www.crsc.lighting.philips.com/crsc/fonts/bf2884c1493bf6d869ac9821131cc43b.eot);
  src: url(https://www.crsc.lighting.philips.com/crsc/fonts/bf2884c1493bf6d869ac9821131cc43b.eot?#iefix) format('embedded-opentype'), url(https://www.crsc.lighting.philips.com/crsc/fonts/18eaadf63f1c8bcdd7b4225274ced4a5.woff2) format('woff2'), url(https://www.crsc.lighting.philips.com/crsc/fonts/b528ffef4ed8f606662e260cd92b813d.woff) format('woff'), url(https://www.crsc.lighting.philips.com/crsc/fonts/87582f5aef21d02dae9d91dfc682cfbc.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: centrale_sans_light;
  src: url(https://www.crsc.lighting.philips.com/crsc/fonts/e85ff700f2075a438557846fb6a1400f.eot);
  src: url(https://www.crsc.lighting.philips.com/crsc/fonts/e85ff700f2075a438557846fb6a1400f.eot?#iefix) format('embedded-opentype'), url(https://www.crsc.lighting.philips.com/crsc/fonts/1899c4cd5c6009d130a2488d2567eec5.woff2) format('woff2'), url(https://www.crsc.lighting.philips.com/crsc/fonts/a67b066467323a7a6b9fc0b06476edf8.woff) format('woff'), url(https://www.crsc.lighting.philips.com/crsc/fonts/733eac5933ca403c6271d6083cb0ade4.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: centrale_sans_medium;
  src: url(https://www.crsc.lighting.philips.com/crsc/fonts/410096360c7659564addb24d1005c0cf.eot);
  src: url(https://www.crsc.lighting.philips.com/crsc/fonts/410096360c7659564addb24d1005c0cf.eot?#iefix) format('embedded-opentype'), url(https://www.crsc.lighting.philips.com/crsc/fonts/2f56e0a12f49fafc9091f37b7ac4330c.woff2) format('woff2'), url(https://www.crsc.lighting.philips.com/crsc/fonts/23927660236fc4b6e837f8199339fa20.woff) format('woff'), url(https://www.crsc.lighting.philips.com/crsc/fonts/614d35f22e49735e2f7f7ad892fac4b9.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: centrale_sans_thin;
  src: url(https://www.crsc.lighting.philips.com/crsc/fonts/a71ba5f56b4cfcf9e7d65d6ae4226385.eot);
  src: url(https://www.crsc.lighting.philips.com/crsc/fonts/a71ba5f56b4cfcf9e7d65d6ae4226385.eot?#iefix) format('embedded-opentype'), url(https://www.crsc.lighting.philips.com/crsc/fonts/e1da08b2fd17405f5dc7344a1c6c6c4d.woff2) format('woff2'), url(https://www.crsc.lighting.philips.com/crsc/fonts/a8adf97e4c9d6d7683a1d3ee97689c58.woff) format('woff'), url(https://www.crsc.lighting.philips.com/crsc/fonts/d0462a69a0e01968312fb9e0ff6aac81.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}